#gameboard {
    margin: 64px auto;
    border-collapse: collapse;
}

#gameboard td {
    border: solid 1px gray;
    padding: 0;
    width: 14px;
    height: 14px;
    font-size: 10px;
}

#message {
    height: 38px;
    margin-top: 64px;
    display: flex;
    justify-content: center;
    color: red;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    padding: 4px 8px;
}

#score {
    text-align: center;
    font-size: 3rem;
    margin-top: 10rem;
}

#high-score {
    text-align: center;
    font-size: 20px;
}

.snake {
    background-color: green;
}

.hidden {
    display: none;
    visibility: hidden;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

